html,
body {
  background-color: #161616;
  color: #e3e3e3;
  font-family: "Helvetica Neue", Helvetica, Arial, "Roboto", sans-serif !important;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  background-color: #161616;
}

::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, "Roboto", sans-serif !important;
}
